.root {
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 0;
  overflow-y: auto;
}

.pipelineTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
